<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sql-for-error-global.ZPM">
    <Module>
      <Name>sql-for-error-global</Name>
      <Version>1.0.2</Version>
      <Description>Map ^ERROR Global and have a custom query for full content</Description>
      <Keywords>Terminal, COS SQL, Custom Query</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="zrcc.PKG"/>
    </Module>
  </Document>
</Export>
